<header>
  <div class="inner-header">
    <ul class="header-links">
      <li><%= link_to "Lobby", '#', class: "lobby" %></li>
      <li><%= link_to "My Drafts", '#' %></li>
      <li><%= link_to "Upcoming", '#' %></li>
      <li><%= link_to "Live", '#' %></li>
      <li><%= link_to "Results Board" %></li>
    </ul>
    <%= link_to image_tag('draft_logo'), "#" %>
    <div class="deposit">
      <%= link_to "Deposit", '#', class: "right" %>
    </div>
  </div>
</header>
